.head1 {
    text-align: center;
}
body {
    color: white;
    background-color: black
    
}
.jumbotron {
    background-color: red;
    color: black
}
.dice {
    color: white;
    background-color: black
}