.console {
    display: none;
}
.head1 {
    text-align: center;
}
body {
    color: white;
    background-color: black
    
}
.jumbotron {
    background-color: red;
    color: black
}
#dice {
    color: white;
    background-color: black
}
#dice2 {
    color: white;
    background-color: black
}
#dice3 {
    color: white;
    background-color: black
}
#dice4 {
    color: white;
    background-color: black
}
#start {
    color: white;
    background-color: black
}
.dice2 {
    color: white;
    background-color: black
}