.head1 {
    text-align: center;
}
body {
    color: white;
    background-color: black
    
}
.jumbotron {
    background-color: red;
    color: black
}
<<<<<<< HEAD
.dice {
    color: white;
    background-color: black
=======
#rules {
    text-align: center;
>>>>>>> gh-pages
}